body{
    background-color: #cccccc;
}
h1{
    text-align: center;
    /*background-color: antiquewhite;*/
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;

    background-color: #cccccc;
}
em strong{
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

/* sistema hexadecimal para colores 
    0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
    0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

    6 posiciones, 6 digitos
    las 2 primeras son para el color rojo
    las 2 siguientes son para el color verde
    las 2 ultimas son para el color azul

    r r g g b b
    0 0 0 0 0 0
    rgb(0,0,0)
    #000000

    0 es lo más tenue, f es lo más intenso
    #ffffff es rojo, verde y azul al máximo

    #ff0000 es rojo
    #00ff00 es verde
    #0000ff es azul
    #ffff00 es amarillo
    #00ffff es cian
    #ff00ff es magenta

    rgb(255,0,0) es rojo
    rgb(0,255,0) es verde
    rgb(0,0,255) es azul
    rgb(255,255,0) es amarillo
    rgb(0,255,255) es cian
    rgb(255,0,255) es magenta


*/