.header{
    /*display en fila*/
    display: flex;
    /*Colocar espacio entre logo y menu */
    justify-content: space-between;
    
    padding: 20px 0; /*top bottom*/
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;
}
.header .logo {
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    position: relative;
    margin: 0 0 0 10vw; /*top right bottom left*/
}
.header .menu {
    /*centrar verticalmente el menu*/
    align-self: center;

    position: absolute; /*para que el menu se posicione en la parte derecha*/
    right: 10vw; 
    top : 15vh; 
    
}
.header .menu li{
    /*display en fila para menu nav hotizontal*/
    display: inline; /*inline es que ocupen el tamaño del contenido*/

    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    /*Colocar espacio entre items*/
    margin: 0 0 0 15px; /*top right bottom left*/
}
.header .menu nav a {
    /*mayusculas*/
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.header .menu nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}



/** PARTE DEL MAIN
*/
/*main{
    width: 940px;
}*/
.container{
    /*display */
    display: flex; /*flex es que ocupen el tamaño del padre*/

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    justify-content: center;
}
.container .formulario{
    /*display para que los inputs se acomoden uno debajo de otro*/
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;
    margin: 40px;
    padding: 20px;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.container .formulario label, .formulario legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0; /*top right bottom left*/
}
.input-padron{
    display: block;
    font-size: 20px;
    margin: 0 0 20px 0; /*top right bottom left*/
    padding: 10px 25px; /*top right bottom left*/

    width: auto;
}
.container .formulario .contactado input{
    /*hacer que los input radio esten en la misma fila que los label*/
    display: inline;
}
.container .formulario .novedades {
    margin: 20px 0;
}


/** PARTE DEL FOOTER
*/

.footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}
.footer .Copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

/** Configuración para movil - http://mobileinputtypes.com/
*/
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header .logo {
        margin: 0;
    }
    .header .menu {
        position: relative;
        right: 0;
        top: 0;
        margin: 0;
    }


    .container{
        flex-direction: column;
    }
    .container .formulario{
        margin: 20px;
    }
    .container .formulario .contactado input{
        display: block;
    }
    .container .formulario .novedades {
        margin: 0;
    }
}