.header{
    /*display en fila*/
    display: flex;
    /*Colocar espacio entre logo y menu */
    justify-content: space-between;
    
    padding: 20px 0; /*top bottom*/
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;
}
.header .logo {
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    position: relative;
    margin: 0 0 0 10vw; /*top right bottom left*/
}
.header .menu {
    /*centrar verticalmente el menu*/
    align-self: center;

    position: absolute; /*para que el menu se posicione en la parte derecha*/
    right: 10vw; 
    top : 15vh; 
    
}
.header .menu li{
    /*display en fila para menu nav hotizontal*/
    display: inline; /*inline es que ocupen el tamaño del contenido*/

    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    /*Colocar espacio entre items*/
    margin: 0 0 0 15px; /*top right bottom left*/
}
.header .menu nav a {
    /*mayusculas*/
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.header .menu nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}



/** PARTE DEL MAIN
*/
/*main{
    width: 940px;
}*/
.container{
    /*display para todo este en columna */
    display: flex; /*flex es que ocupen el tamaño del padre*/
    /*Contenido en una columna*/
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    justify-content: center;
}
.container .formulario{
    /*display para que los inputs se acomoden uno debajo de otro*/
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;
    margin: 40px;
    padding: 20px;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.container .formulario label, .formulario legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0; /*top right bottom left*/
}
.input-padron{
    display: block;
    font-size: 20px;
    margin: 0 0 20px 0; /*top right bottom left*/
    padding: 10px 25px; /*top right bottom left*/

    width: auto;
}
.container .formulario .contactado input{
    /*hacer que los input radio esten en la misma fila que los label*/
    display: inline;
}
.container .formulario .novedades {
    margin: 20px 0;
}

.container .formulario .button{
    width: 50%;
    padding: 15px 0; /*superior e inferior, y 0 a los lados*/
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.container .formulario .button:hover{
    background-color: #c78c19;
    transform: scale(1.1) ;
    /*transform: rotate(30deg)*/
    /*Para usar 2 propiedades transform al mismo tiempo es transform: scale(1.1) rotate(70deg);*/
}

/*Contendor de la tabla de Horario*/
.container .horario{
    width: 100%;
    max-width: 400px;
    margin: 40px;
    padding: 20px;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    justify-content: center;
    text-align: center;
}
.container .horario .title{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0; /*top right bottom left*/
}
.container .horario .table-schedule{
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}
.container .horario .table-schedule th{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;

    background-color: #eba312;

    font-size: 20px;
    font-weight: bold;
}
.container .horario .table-schedule td{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.container .horario .table-schedule tr:nth-child(odd){
    background-color: rgb(157, 157, 157);
}


/** PARTE DEL FOOTER
*/

.footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}
.footer .Copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

/** Configuración para movil - http://mobileinputtypes.com/
*/
/*DISEÑO RESPONSIVO*/
@media screen and (max-width: 1000px) { /*max-width: 768px -> cuando el ancho de la pantalla sea menor a 768px*/
    .header {
        display: inline-block;
        width: 100%;
        /*Centrar contenido*/
        align-items: center;
    }
    .header .logo {
        display: block;
        text-align: center;
        width: 40%;
        /* background: yellowgreen; */
        margin: 0 auto 0 0;
    }
    .header .logo > img {
        width: 60%;
    }
    .header .menu{
        display: block;
        text-align: center;
        /* background: rgb(205, 122, 50); */
        /*colocar el menu en la parte superior*/
        position: absolute;
        top: 0;
    }
    .header .menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 3em auto 0 1em;
    }
    .header .menu ul li {
        margin: 0 0 1em 0;
    }
    .header .menu ul li a{
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .container{
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    .container .formulario{
        width: 90%;
        margin: 0;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }
    .container .formulario .input-padron{
        width: auto;
    }
    .container .formulario .button{
        width: auto;
    }

    .container .horario{
        width: 90%;
        margin: 1em auto 0 0;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }
}