body {
    font-family: 'Montserrat', sans-serif;
}

.header{
    /*display en fila*/
    display: flex;
    /*Colocar espacio entre logo y menu */
    justify-content: space-between;
    
    padding: 20px 0; /*top bottom*/
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;
}
.header .logo {
    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    position: relative;
    margin: 0 0 0 10vw; /*top right bottom left*/
}
.header .menu {
    /*centrar verticalmente el menu*/
    align-self: center;

    position: absolute; /*para que el menu se posicione en la parte derecha*/
    right: 10vw; 
    top : 15vh; 
    
}
.header .menu li{
    /*display en fila para menu nav hotizontal*/
    display: inline; /*inline es que ocupen el tamaño del contenido*/

    /*Colocar color de fondo*/  
    background-color: #BBBBBB;  
    /*Colocar color de texto*/
    color: #ffffff;

    /*Colocar espacio entre items*/
    margin: 0 0 0 15px; /*top right bottom left*/
}
.header .menu nav a {
    /*mayusculas*/
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.header .menu nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}



/** PARTE DEL MAIN*/
.container{
    background-color: #cccccc;
    /*display para todo este en columna */
    display: flex; /*flex es que ocupen el tamaño del padre*/
    /*Contenido en una columna*/
    flex-direction: column;

    width: 100%;

    justify-content: center;
    text-align: center;
}
#main-image{
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
}
/*Selector de id -> #*/
#banner{
    display: flex;
    width: 100%;
}

#info{
    padding: 20px;
    /*Colocar color de fondo con degradado*/
    background: linear-gradient( #FEFEFE, #888888);
}
.titulo-info{
    display: block;
    margin: 1em 0 1em 0;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}
.titulo-info::first-letter{ /*::first-letter es un pseudo elemento*/
    font-size: 40px;
    color: #ff0000;
}

.info-image{
    /*permitir que el texto redonde la imagen*/
    float: left;
    margin: 0 20px 20px 5em; /*top right bottom left*/
    border-radius: 10px;
    width: 120px;

}
.info-p {
    font-size: 18px;
    color: #000000;
    text-align: left;

    margin: 0 0 1em;
    /*fondo transparente de los p*/
    background-color: transparent;
}

#info em strong{
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}
#mision{
    font-size: 20px;
}

.mapa {
    padding: 3em 0; /*espaciamiento interno*/
    /*Fondo con degradado*/
    /* background: linear-gradient(to right, #c78c19, #ffffff); */
}
.mapa h3 {
    font-size: 30px;
    margin: 1em 0 1em 0;
}
.mapa p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: 0 0 2em 0;
}

.diferenciales{
    display: block;
    margin: 3em auto 1em auto;
    width: auto;
    border-radius: 10px;
    padding: 20px; /*espaciamiento interno*/
    font-size: 20px;

    background-color: #888888;
}
.diferenciales h3{
    background-color: #888888;
    font-size: 30px;
    margin: 1em 0 1em 0;
}
.contenido-diferenciales {
    display: inline-block; /*inline-block permite colocar cosas una al lado de otra*/
    width: 100%;
    margin: 0 auto 0 auto;
    /* background-color: aqua; */
}
.diferenciales .lista-diferenciales{
    display: inline-block; /*para que ocupo solo el espacio de su contenido, y poder colocar la img al lado*/
    vertical-align: top; 
    width: 40%;
    margin: 0 0 0 0;
    /* background-color: #c78c19; */
}
.diferenciales .item{
    font-style: italic;
    margin: 0 0 1em 0;
    color: #000000;
    font-size: 20px;
}
.item:first-child{
    font-weight: bold;
    font-size: 22px;
}
.item:before{
    content: "⭐";
    margin-right: 10px;
    color: #000000;
}
.diferenciales .diferencialesImg{
    display: inline-block; /*inline-block permite colocar cosas una al lado de otra*/
    border-radius: 15px;
    width: 50%;
}


.video {
    padding: 3em 0; /*espaciamiento interno*/
}
.video h3 {
    font-size: 30px;
    margin: 1em 0 1em 0;
}
.video iframe {
    /*Mostrar video con una sombra*/
    box-shadow: 0 0 20px #000000;
    border-radius: 10px;
}

/** PARTE DEL FOOTER*/
.footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}
.footer .Copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}


/* sistema hexadecimal para colores 
    0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
    0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

    6 posiciones, 6 digitos
    las 2 primeras son para el color rojo
    las 2 siguientes son para el color verde
    las 2 ultimas son para el color azul

    r r g g b b
    0 0 0 0 0 0
    rgb(0,0,0)
    #000000

    0 es lo más tenue, f es lo más intenso
    #ffffff es rojo, verde y azul al máximo

    #ff0000 es rojo
    #00ff00 es verde
    #0000ff es azul
    #ffff00 es amarillo
    #00ffff es cian
    #ff00ff es magenta

    rgb(255,0,0) es rojo
    rgb(0,255,0) es verde
    rgb(0,0,255) es azul
    rgb(255,255,0) es amarillo
    rgb(0,255,255) es cian
    rgb(255,0,255) es magenta
*/

/*#info img + p { + es un selector de hermano adyacente
    margin-top: 0;
    background: red;
}
main > #info { > es un selector de hijo directo
    background: blue;
}*/

/*Calculos con css*/
/*
    calc(100% - 20px) -> 100% del ancho menos 20px
*/